{% extends "helpme/base.html" %}
{% load static %}

{% block content %}
API
<form class='help-ajax-form' method='POST' action='.' data-url='{% url "helpme-submit-request" %}'>
    {% csrf_token %}
    {{form.as_ul|safe}}
    <button type='submit'>Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/support/main.js' %}"></script>
<script>
    $(document).ready(function(){

        var $myForm = $('.help-ajax-form')

        $myForm.submit(function(event){
            event.preventDefault()
            var $formData = $(this).serialize()
            var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
            $.ajax({
                method: "POST",
                url: $thisURL,
                data: $formData,
                success: handleFormSuccess,
                error: handleFormError,
            })
        })

        function handleFormSuccess(data, textStatus, jqXHR){
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)
            console.log($myForm)
            $myForm[0].reset(); // reset form data
        }

        function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
    })
</script>

{% endblock %}
