{% extends "helpme/base.html" %}

{% block help_content %}
<h2>{{ticket.subject}}</h2>
<p>{{ticket.description}}</p>
{% if support %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <b>User: </b>
        {{ticket.user.username}}
    </p>
    <p>
        <b>User Meta: </b>
        {{ticket.user_meta}}
    </p>
    <p>
        <b>Created: </b>
        {{ticket.created}}
    </p>
    <p>
        <b>Updated: </b>
        {{ticket.updated}}
    </p>
    <p>
        <b>History: </b>
    </p>
    <table>
    {% for dict in ticket.history %}
        <tbody>
        {% for key, value in dict.items %}  
            <tr>
                <td>{{key}}:</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tr><td><br><br></td></tr>
    {% endfor %}
    </table>
    <input type="submit" value="Update">
</form>
{% else %}
<p class="text-right"><b>Status:</b> {{ticket.get_status_display}}</p>
{% endif %}
{% for comment in comments %}
{% if comment.visibility == 10 and support or comment.visibility == 15 and developer or comment.visibility == 20 and supervisor or comment.visibility == 1 %}
<div class="text-center comment_div" style="padding: 10px;">
    <p class="font-weight-bold">
        {{ comment.user.username }}
        <span class=" text-muted font-weight-normal">
            {{ comment.created }}
        </span>
    </p>
    <div id="comment_content" class="comment_content">
        {{ comment.content  }}
    </div>
</div>

{% endif %}
{% endfor %}
<form method="post" action="{% url 'helpme-api:create-comment' ticket.uuid %}" class="text-center">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="Comment">
</form>
{% endblock %}
